{% extends "base.html" %}

{% block content %}
<p>Conference Record</p></section>
<div class="container">
 <table class="table" style="background-color:white;">
  <thead>
    <tr>
     <th></th>
     <th>TeamID</th>
     <th>Conference</th>
     <th>Wins</th>
     <th>Losses</th>
    </tr>
   </thead>
   <tbody>
    {% for conferencerecord in conferencerecords %}
    <tr>
    <th scope="row"></th>
     <td>{{conferencerecord.teamid.teamname}}</td>
     <td>{{conferencerecord.confname.confname}}</td>
     <td>{{conferencerecord.wins}}</td>
     <td>{{conferencerecord.losses}}</td>
    </tr>
    {% endfor %}
  </tbody>
 </table>
</div>
{% endblock %}


